<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AutotestPlat</title>
    <style>body{text-align: center}</style>
</head>
<body>
    <font size="1">
        <h1>《自动化平台》登录页</h1>
    </font>


    <form method="post" action="/login/">
        {% csrf_token %}
        <br><br><a>账&nbsp;&nbsp;&nbsp;&nbsp;号：</a>
        <input type="text" name="username" placeholder="username">
        <br><br><a>密&nbsp;&nbsp;&nbsp;&nbsp;码：</a>
        <input type="password" name="password" placeholder="password">
        <br>
        {{error}}<br>
        <br>
        <button id="submit" type="submit" style="width: 220px;height: 28px;">登录</button>
    </form>
</body>
</html>