<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 新 Bootstrap4 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>

    <!-- bootstrap.bundle.min.js 用于弹窗、提示、下拉菜单，包含了 popper.min.js -->
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>

    <!-- 最新的 Bootstrap4 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>产品自动化平台</title>
</head>
<body role="document">
   <!-- 导航栏 -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <div class="container">
            <a href="" class="navbar-brand">&nbsp;</a>
            <ul class="nav justify-content-center"></ul>
            <ul class="nav justify-content-end">
                <li class="nav-link">
                    <a href="#" style="color: white">{{ user }}</a>
                </li>
                <li class="nav-link">
                    <a href="/logout/" style="color: white">退出</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 产品列表 -->
    <div class="row" style="padding-top: 20px">
        <div class="col-md-11">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>&nbsp;</td>
                    </tr>
                    <tr>
                        <td>ID</td>
                        <td>用户名</td>
                        <td>用户密码</td>
                        <td>用户邮箱</td>
                        <td>最后登录</td>
                        <td>创建时间</td>
                    </tr>
                </thead>
                {% for user in users  %}

                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.password }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.last_login }}</td>
                        <td>{{ user.date_joined }}</td>
                    </tr>

                {% endfor %}

            </table>
        </div>
    </div>

</body>
</html>